
  <div class="tab-pane fade" id="pills-wifi_remote" role="tabpanel" aria-labelledby="pills-wifi_remote-tab">
  {% set wifi_index = wifi_settings_page_store %}
  {{ wifi_index }}
  <script>
    $("div.ui-resizable-handle").remove();
    $("div.ui-resizable-n").remove();
  </script>
  </div>
