<div class="modal fade" id="button_settings" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-toggle="modal" data-target="#button_settings" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
    <form>
  <div id="ir_button_set_input" class="form-group">
    <label for="exampleInputEmail1">IR_underdevelop:</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <small id="emailHelp" class="form-text text-muted">IR_underdevelop</small>
  </div>
  <div id="wifi_button_set_input"class="form-group">
    <label for="wifi_settings">wifi web hook:</label>
    <input type="text" class="form-control" id="wifi_settings" aria-describedby="weebhook_Help">
    <small id="weebhook_Help" class="form-text text-muted">plase enter the webhook adrees of the device..</small>
  </div>
    </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#button_settings">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='js/buttons_setting.js') }}"></script>