
<style>
  .ui-widget-content { width: 215px; height: 118px; padding: 0.5em; float: left; margin: 0 10px 10px 0; border: 2px solid lightgrey; border-radius: 5px; }
  #containment-wrapper { width: 95%; height:500px; border:2px solid #ccc; padding: 10px; }
  #containment-wrapper2 { width: 95%; height:500px; border:2px solid #ccc; padding: 10px; }
  h3 { clear: left; }
  </style>
<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <form action="/" onsubmit="return updatepage('containment-wrapper','containment-wrapper2')">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">System settings</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Ir settings</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">wifi settings</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
{% include 'settings/ir_remote_settings.jinja2' %}
{% include 'settings/wifi_remote_settings.jinja2' %}
{% include 'settings/button_settings.jinja2' %}
</div>
 
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="sumbit" id="add"  name="submit" class="btn btn-primary" >Save</button>
        </div>
      </div>
    </div>
  </form>
  </div>

  <script src="{{ url_for('static', filename='js/settings.js') }}"></script>
  <script src="{{ url_for('static', filename='js/buttons_press.js') }}"></script>