<!--wifi  settings contents-->
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"><div class="input-group mb-3">
  <div class="input-group-prepend">
    <button class="btn btn-outline-secondary" type="button" onclick="sumbitcommand('forms2','containment-wrapper2')" id="button-addon2">add group name</button>
    
  </div>
  <input id="forms2" type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
</div>
<div id="containment-wrapper2">
{% set another = wifi_settings_page_store %}
{{ another }}
</div>
{% if wifi_settings_data %}
 
      <script>
       var push_wifi_value = JSON.parse('{{ wifi_settings_data | tojson | safe}}');
       var wifi_button_data=JSON.parse('{{ wifi_buttons_data | tojson | safe}}');
      </script>
{% endif %}   
</div>
</div>
        
  <!--end-->